header.container.m-0.mw-100.px-5.py-2.bg-dark
    nav.navbar.navbar-expand-lg.navbar-dark
        a(href="/").navbar-brand.h1.mb-0 TypeORM
        .navbar-collapse.collapse.w-100
            ul.navbar-nav.ms-auto
                li.nav-item: a(href="/contact").nav-link Contact
                li.nav-item: a(href="/users").nav-link Users
                li.nav-item: a(href="/users/profile").nav-link Profile
